name: Render Helm Chart and Change kind from Clustertask to Task

on:
  workflow_call:
    inputs:
      NEXT_VERSION:
        required: true
        type: string

      SUBPATH:
        required: true
        type: string

    secrets:
      STAKATER_GITHUB_TOKEN:
        description: "Token for pushing code"
        required: true
jobs:
  render_and_replace:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.STAKATER_GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Check for Changes
        id: check_changes
        shell: /usr/bin/bash -e {0}
        run: |
            changed_files=$(git diff --name-only ${{ github.event.before }} ${{ github.sha }})
            skip_job=true
            echo "::set-output name=skip_job::true"
            echo "$changed_files"
            echo "$changed_files" | grep -vE '^\.github/'
#          echo $non_github_changes

      #
#          non_github_changes=$(echo "$changed_files" | grep -vE '^\.github/')
#          if [ -z "$non_github_changes" ]; then
#            echo "Changes found only in .github folder, skipping job."
#            echo "::set-output name=skip_job::true"
#          else
#            echo "::set-output name=skip_job::false"
#          fi

      - name: Set up Helm
        uses: azure/setup-helm@v1
        if: steps.check_changes.outputs.skip_job != 'true'
        with:
         version: v3.7.0

      - name: Render Helm Chart
        if: steps.check_changes.outputs.skip_job != 'true'
        run: |
          helm template test-chart ${{ inputs.SUBPATH }}/helm  > ${{ inputs.SUBPATH }}-${{ inputs.NEXT_VERSION }}.yaml

      - name: Create Directory
        if: steps.check_changes.outputs.skip_job != 'true'
        run: mkdir -p ${{ inputs.SUBPATH }}/rendered

#      - name: Move Rendered Chart
#        if: steps.check_changes.outputs.skip_job != 'true'
#        run: mv ${{ inputs.SUBPATH }}-${{ inputs.NEXT_VERSION }}.yaml ${{ inputs.SUBPATH }}/rendered
#
#      - name: Replace Word in Rendered File
#        if: steps.check_changes.outputs.skip_job != 'true'
#        run: |
#          sed -i 's/ClusterTask/Task/g' ${{ inputs.SUBPATH }}/rendered/${{ inputs.SUBPATH }}-${{ inputs.NEXT_VERSION }}.yaml
#          sed -i -E 's/${{ inputs.SUBPATH }}-[0-9]+\.[0-9]+\.[0-9]+/${{ inputs.SUBPATH }}-${{ inputs.NEXT_VERSION }}/g' ${{ inputs.SUBPATH }}/rendered/${{ inputs.SUBPATH }}-${{ inputs.NEXT_VERSION }}.yaml
#
#      - name: Commit Changes
#        if: steps.check_changes.outputs.skip_job != 'true'
#        run: |
#          git config --global user.email "stakater@gmail.com"
#          git config --global user.name "stakater-user"
#          git add ${{ inputs.SUBPATH }}/rendered
#          git commit -m "[skip ci] Add rendered and modified Helm chart"
#
#      - name: Push changes
#        if: steps.check_changes.outputs.skip_job != 'true'
#        uses: ad-m/github-push-action@master
#        with:
#          github_token: ${{ secrets.STAKATER_GITHUB_TOKEN }}
#          branch: ${{ github.ref }}
